.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 2%;
    font-size: 1.6em;
    background-color: #5FD18A;
}


.Headerbody {
    padding: 0;
    margin:0;

}

.Header .logo img {
    width: 100px;
    height: 75px;
}

.Header * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Header body {
    display: flex;
    justify-content: center;
    background-color: #5FD18A;
    margin: 0;
    padding:0;
}
.Header nav ul {
    list-style: none;
    margin: 0;
    padding-right: 20px;
}
.Header nav {
    display: inline-block;
    padding: 10px;
}

.Header nav li {
    margin-right: 20px;

}

.Header nav li:first-child {
    margin-right: 0;

}

.Header .nav-button {
    display: inline-block;
    margin-left: 20px;
}


.Header .nav-button a {
    padding: 10px 15px;
    background-color: #5FD18A;
    text-decoration: none;
    color: white;
}
.Header a:hover {
     color: black;
     background-color: transparent;
 }
body {
   margin: 0;
    background-color: #ffffff;

}

.box {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
}

.opretBruger {
    body {
        font-family: Arial, sans-serif;
        background-color: #FFFFFF;
        color: #2B2B2B;
        margin: 0;
        padding: 0;
    }

    header {
    }

    main {
        padding: 20px;
    }

    form {
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 5px;
    }

    label {
        color: #2B2B2B;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #CBCBCB;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #5FD18A;
        color: #FFFFFF;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #4CAE7C;
    }

    footer {

    }


}