<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="Footer">
    <div class="logo">
        <div class="footer-left">
            <img src="../static/images/Logo.png" th:src="@{images/Logo.png}" alt="Website logo">
            <p>En ønskeliste med personlighed</p>
        </div>
    </div>
    <div class="footer-center">
        <p>Kontakt os:</p>
        <p>Email: info@iWish.com</p>
        <p>Telefon: +45 87654321</p>
    </div>
    <div class="footer-right">
        <ul>
            <li> <a href="#">Hjem</a> </li>
            <li> <a href="#">Privatlivspolitik</a> </li>
            <li> <a href="#">Betingelser og vilkår</a> </li>
            <li> <a href="#">Cookies</a> </li>
        </ul>

    </div>
</footer>
</body>
</html>