<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Header Wish list</title>
</head>
<body>
<header class="Header">
    <div class="logo">
        <a href="http://localhost:8080/">

        </a>
    </div>

    <div>
        <nav>
            <ul>

                <li class="nav-button"><a href="">Opret bruger</a></li>
                <li class="nav-button"><a href="">Log ind</a> </li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>